.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 2rem;
  font-weight: bold;
}

.pageLink {
  cursor: pointer;
 }

 .pageItem {
  min-height: 45px;
  min-width: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  transition: all .4s linear;
  background-color: #8D7B68;
  margin: 0 4px;
 }

 .pageItemActive {
  min-height: 45px;
  min-width: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  transition: all .5s linear;
  background-color: #C36A2D;
  border-radius: 50%;
  margin: 0 4px;
 }

 .pageItem:hover {
  transform: scale(1.1);
  filter: brightness(1.05)
 }

 .pageItemActive:hover {
  transform: scale(1.2);
  background-color: #C97842;
 }

 @media screen and (max-width: 767px) {
  .pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); */
    justify-content: center;
    gap: 2rem;
  }
}