.container {
  min-height: 80vh;
  min-width: 0 auto;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 50%;
  padding: 0 100px 0;
  background-color: #86745F;
  border-radius: 25px;
  box-shadow: 0 0 3px 3px #86745F;
}

.center h1 {
  color: whitesmoke;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding: 20px 0 20px 0;
}

.form {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.form .formGroup {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.form .formGroup input {
  outline: none;
  float: right;
  padding: 6px;
  height: 50px;
  border: none;
  margin-top: 8px;
  font-size: 16px;
  border-radius: 10px;
  transition: all .3s linear;
  text-transform: none;
  text-indent: 10px;
}

.form .formGroup input::placeholder {
  color: darkgrey;
  font-weight: bold;
}

.form .formGroup input:hover {
  transform: scale(1.1);
  outline: none;
}

.form .formGroup input:focus {
  transform: scale(1.1);
  border: 4px solid;
  border-color:#F1DEC9;
}

.form .formButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  gap: 1.5rem;
}

.form button {
  width: 85%;
  height: 50px;
  background-color: #A4907C;
  border: none;
  border-radius: 44px;
  color: white;
  padding: 15px 32px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s linear;
  text-transform:uppercase
}

.form button:hover {
  filter:brightness(.9);
}

.feedback {
  display:none;
}

.feedbackActive {
  padding-bottom: 5rem;
  font-size: 20px;
  font-weight: bold;
  color: lightcoral;
}

.hoverEffect {
  margin: 30px 0;
  position: relative;
  color: whitesmoke;
  cursor: pointer;
}

.hoverEffect::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  transform-origin: bottom left;
  transition: all 0.3s ease-out;
}

.hoverEffect:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.notFound {
  font-size: 30px;
  color: whitesmoke
}

@media screen and (max-width: 767px) {
  .center {
    background-color: #86745F;
    box-shadow: 0 0 0 0;
  }
}
