@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.container {
  min-height: 80vh;
  margin: 0 auto;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .product {
  text-align: center;
}

.container .product h1 {
  font-family: 'Kanit', sans-serif;
  font-weight: bolder;
  font-size: 50px;
}

.container .product p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
}



.container .product img {
  width: 100%;
  height: auto;
}
