.themeLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 80vh;
  min-width: 0 auto;
  max-width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hoverEffect {
  display: inline-block;
  position: relative;
  color: whitesmoke;
  padding-top: 50px;
}

.hoverEffect::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  transform-origin: bottom left;
  transition: all 0.3s ease-out;
}

.hoverEffect:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.notFound {
  font-size: 30px;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.content {
  opacity: 0;
  background-color: cornflowerblue;
  transition: 1s;
}

.fadeIn {
  opacity: 1;
}

@media screen and (max-width: 868px) {
  .notFound {
    font-size: 25px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }
}